@psychedelic:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${PAT}
//npm.pkg.github.com/:_authToken=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
# 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
# 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